<!DOCTYPE html>
<html>
    <head>
        <title>Agent Report</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Link CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <!-- Main Data Table -->
        <div class="mainTable">
            <h1>Agent Report</h1>
            <table id="table" border="1">

                <tr>
                    <th>Transaction ID</th>
                    <th>Account Number</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                </tr>

                <tr>
                    <td>01</td>
                    <td>101 </td>
                    <td>13/07/2022</td>
                    <td>1000</td>
                    <td>Deposit</td>
                </tr>

                <tr>
                    <td>02</td>
                    <td>102</td>
                    <td>13/07/2022</td>
                    <td>500</td>
                    <td>Withdrawal</td>
                </tr>

                <tr>
                    <td>03</td>
                    <td>103</td>
                    <td>14/07/2022</td>
                    <td>500</td>
                    <td>Deposit</td>
                </tr>

            </table>
        </div>

    </body>
</html>