footer.footer 
  .footer__logo 
    img(src='img/footer-logo.png' alt="MicroBank footer")
  ul.footer__nav 
    li: a(href='#') About us
    li: a(href='#') Careers
    li: a(href='#') Contact Us
  p.footer__copyright &copy: Just for evaluation purposes
  