extends base

block content
  main.main
    .logout-form
      h2.heading-secondary.ma-bt-lg Log out from your account
      form.form.form--logout
        .form__group
          button.btn.btn--green Logout 